@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");



:root {
  /* Fonts */
    --font-noto-serif: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;

  --font-bold: 700;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-h1: clamp(2rem, 1.5rem + 2vw, 3rem);
  --font-h2: clamp(1.5rem, 1.5rem + 1.5vw, 2.5rem);
  --font-h3: clamp(1.25rem, 1.2rem + 1vw, 1.75rem);
  --font-sm: clamp(0.875rem, 0.8rem + 0.5vw, 1rem);
  --font-base: clamp(1rem, 0.9rem + 0.6vw, 1.125rem);

  /* Colors */
  --color-dark-800: #111111;
  --color-dark-900: #000;
  --color-white: #fff;
  --color-primary: #e95a08;
  --color-dark-50: 00050;
  --color-dark-400: #8987a1;
  --color-dark-600: #252432;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--color-white);
  color: var(--color-dark-900);
  font-size: var(--font-base);
  font-family: var(--font-inter);
}

body > *:not(:last-child) {
  margin-bottom: 5rem;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1140px;
  margin-inline: auto;
  margin-block: 1rem;
  padding-inline: 1rem;
}


/* All Uses */

.logo > img {
  max-width: 10rem;
}

.font-semi-bold {
  font-weight: var(--font-semi-bold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.color-dark-50 {
  color: var(--color-dark-50);
}

.color-dark-400 {
  color: var(--color-dark-400);
}

.color-dark-600 {
  color: var(--color-dark-600);
}

.color-dark-800 {
  color: var(--color-dark-800);
}

.color-dark-900 {
  color: var(--color-dark-900);
}

.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: var(--color-white);
}

.font-h1 {
  font-weight: var(--font-bold);
  font-size: var(--font-h1);
}

.font-h2 {
  font-weight: var(--font-bold);
  font-size: var(--font-h2);
}

.font-h3 {
  font-weight: var(--font-bold);
  font-size: var(--font-h3);
}

.font-base {
  font-size: var(--font-base);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-noto-serif {
  font-family: var(--font-noto-serif);
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}


.btn-primary {
  padding: 0.8rem;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
  border-radius: 0.2rem;
  transition: color 0.5s, background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  color: #e95a08;
}


.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-sm);
}

.nav-link {
  display: inline-block; 
  border-left: 2.5px solid transparent;
  padding-left: 2.5px;
  transition: border-color 1s, transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.nav-link:hover {
  transform: translateY(2px);
  border-color: inherit;
}



/* Banner */
.banner {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.banner > * {
  min-width: 50%;
}

.banner-content > :not(:last-child) {
  margin-bottom: 1rem;
}


/* Our Plants */

.plants > *:not(:last-child) {
  margin-bottom: 1rem;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.plant-card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.plant-card > img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.1rem;
}


/* Plants Lover sections */

.plants-lover {
  padding-top: 2rem;
  display: flex;
  align-items: start;
  gap: 2rem;
}

.plants-img {
  position: relative;
  min-width: 50%;
}

.plants-lover-content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.plants-lover-content > li {
  display: flex;
  align-items: start;
  margin-left: 0.5rem;
}



/* Latest Deals section */

.latest-deals {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.deal-grid {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 200px);
  gap: 1rem;
}

.deal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 1rem;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-900);
  opacity: 0.4;
  border-radius: inherit;
}

.deal-card > *:not(.dark-bg) {
  z-index: 1;
}

.bloom-card {
  background-image: url("./assets/deal-bloom.png");
}

.ana-card {
  background-image: url("./assets/deal-ana.png");
}

.zabo-card {
  background-image: url("./assets/deal-zabo.png");

  grid-row: span 2;
}

.shop-link {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
  transition: opacity 0.5s, transform 0.5s ease-in-out;
}

.shop-link:hover {
  opacity: 0.75;
  transform: translateY(1.25px);
}




@media screen and (width <= 576px) {
  body > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .wrapper {
    padding-inline: 1rem;
  }



  .primary-nav {
    align-items: end;
  }

  .nav-item {
    font-size: var(--font-h3);
  }

  .nav-item:nth-child(-n + 3) {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    align-self: flex-start;
  }

  .banner-img {
    width: 100vw;
  }

    .plants-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .plants-lover {
    padding-top: 0;
    flex-direction: column;
    gap: 1rem;
  }

  .plants-lover-content {
    padding: 0;
    gap: 0.75rem;
  }


  .deal-grid {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
  }

  .zabo-card {
    grid-row: span 1;
  }
 
}